a {
  color: #6489dc;
}

a:hover {
  color: #324E8F;
}

.btn-primary {
  background-color: #324E8F;
  border-color: #324E8F;
}

.btn-primary:hover {
  background-color: #6489dc;
  border-color: #324E8F;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #324E8F;
  border-color: #324E8F;
}

.btn-outline-primary {
  color: #324E8F;
  border-color: #324E8F;
}

.btn-outline-primary:hover {
  background-color: #324E8F;
  border-color: #324E8F;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #324E8F;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #324E8F;
  border-color: #324E8F;
}

.btn-link {
  color: #324E8F;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #324E8F;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #324E8F;
  background-color: #324E8F;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  border-color: #324E8F;
  background-color: #324E8F;
}

.custom-range::-webkit-slider-thumb {
  background-color: #324E8F;
}

.custom-range::-moz-range-thumb {
  background-color: #324E8F;
}

.custom-range::-ms-thumb {
  background-color: #324E8F;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #324E8F;
}

.page-link {
  color: #324E8F;
}

.page-item.active .page-link {
  background-color: #324E8F;
  border-color: #324E8F;
}

.badge-primary {
  background-color: #324E8F;
}

.progress-bar {
  background-color: #324E8F;
}

.list-group-item.active {
  background-color: #324E8F;
  border-color: #324E8F;
}

.bg-primary {
  background-color: #324E8F !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #6489dc !important;
}

.bg-secondary {
  background-color: #6489dc !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #6489dc !important;
}

.border-primary {
  border-color: #324E8F !important;
}

.text-primary {
  color: #324E8F !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #324E8F;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #324E8F;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  background: #324E8F;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  color: #fff;
  background: #324E8F;
}

.portfolio .portfolio-item .portfolio-item-caption {
  background-color: rgba(50, 78, 143, 0.8);
}

.portfolio-modal .close {
  color: #324E8F;
}

.floating-label-form-group-with-focus label {
  color: #324E8F;
}