{% extends "layout.html.twig" %}

{% block title %} Blog - Assane Thione Ba {% endblock %}


{% block Content %}

    <header class="masthead bg-primary text-white text-center" id="moving-background">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0"> Mon blog </h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">Ici je partage avec vous des trucs et astuces, des tutos,
                des hacks supers et même mon point de vue sur des sujets liés ou non à l'informatique.
            </p>
            <div class="divider-custom divider-light">
            </div>
    </header>
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="card-columns">
                    <div class="card mb-5">
                            <img src="../public/img/mon-avatar.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary btn-block">Voir l'article</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Dernière modification 7/06/2019</small>
                            </div>
                    </div>
                    <div class="card mb-5">
                        <img src="../public/img/mon-avatar.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary btn-block">Voir l'article</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Dernière modification 7/06/2019</small>
                        </div>
                    </div>
                    <div class="card mb-5">
                        <img src="../public/img/mon-avatar.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary btn-block">Voir l'article</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Dernière modification 7/06/2019</small>
                        </div>
                    </div>
                    <div class="card mb-5">
                        <img src="../public/img/mon-avatar.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary btn-block">Voir l'article</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Dernière modification 7/06/2019</small>
                        </div>
                    </div>
                    <div class="card mb-5">
                        <img src="../public/img/mon-avatar.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Post title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary btn-block">Voir l'article</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Dernière modification 7/06/2019</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}