{% extends 'layout.html.twig' %}
{% block title %} Page not Found {% endblock %}
{% block Content %}
    <div class="container">
            <!-- Post Content Column -->

        <div class="page-section"></div>
        <div class="page-section">
            <h1 class="text-center"> Error 404 - Page non trouvée </h1>
        </div>
        <div class="page-section"></div>

    </div>

{% endblock %}