{% extends "/layout.html.twig" %}

{% block title %} Assane Thione Ba {% endblock %}


{% block Content %}

    <link href="css/cards-blog.css" rel="stylesheet">

    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center" id="moving-background">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="img/my-profile-2.png" alt="">

            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">Assane Thione Ba</h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">FullStack Web Developer</p>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
            <p class="masthead-subheading font-weight-bold mb-0 font-italic">Confiez-moi votre projet et j'en fais une réalité ! </p>
                <div class="divider-custom-line"></div>

        </div>
    </header>

    <!-- Portfolio Section -->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">

            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Portfolio Grid Items -->
            <div class="row">

                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
                    </div>
                </div>

                <!-- Portfolio Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/cake.png" alt="">
                    </div>
                </div>

                <!-- Portfolio Item 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/circus.png" alt="">
                    </div>
                </div>

                <!-- Portfolio Item 4 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/game.png" alt="">
                    </div>
                </div>

                <!-- Portfolio Item 5 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/safe.png" alt="">
                    </div>
                </div>

                <!-- Portfolio Item 6 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/submarine.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
    </section>

    <!-- About Section -->
    <section class="page-section bg-primary text-white mb-5" id="about">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">Qui suis-je ?</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Diplômé en Génie logiciel et sécurité des TIC en fin 2014, ma curiosité
                        et mon envie d'explorer m'ont conduit à travailler en tant que gérant d'une boulangerie, puis
                        d'une boutique d'informatique et en tant qu'agent commercial.
                        </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Riche de ces belles expériences, à partir de février/mars 2016, je décide de me
                        consacrer à mon domaine de prédilection : le développement web. Et depuis je prend beaucoup de plaisir dans le
                        monde du web.</p>
                </div>
            </div>

            <!-- About Section Button -->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="cv_Assane_Thione_Ba.pdf" target="_blank">
                    <i class="fas fa-download mr-2"></i>
                    Voir mon CV
                </a>
            </div>

        </div>
    </section>


    <!-- Blog Section -->
    <section class="page-section">
        <div class="container-fluid row">
            <div class="col-md-4 blog-home">
                <h2 class="page-section-heading text-center text-uppercase mb-4">Le blog</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis purus vitae mollis sagittis.
                    Nulla vulputate posuere ligula. Etiam mollis tortor leo, pretium volutpat diam malesuada vel. Cras
                    sit amet mi egestas, dictum elit commodo, cursus mi...</p>
            </div>
            <div class="cards-post col-md-8 col-sm-12">
                <div class="card-post">
                    <h2><a href="#">Title</a></h2>
                    <p>Some article description stuff.</p>
                </div>
                <div class="card-post">
                    <h2><a href="#">Title</a></h2>
                    <p>Some article description stuff.</p>
                </div>
                <div class="card-post">
                    <h2><a href="#">Title</a></h2>
                    <p>Some article description stuff.</p>
                </div>
                <div class="card-post">
                    <h2><a href="#">Title</a></h2>
                    <p>Some article description stuff.</p>
                </div>
                <div class="card-post">
                    <h2><a href="#">Title</a></h2>
                    <p>Some article description stuff.</p>
                </div>
                <div class="card-post">
                    <h2><a href="#">Title</a></h2>
                    <p>Some article description stuff.</p>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
        <a href="#" class="btn btn-primary btn-lg">Aller à la page du blog</a>
        </div>
    </section>
    <!-- / Blog Section -->

    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container">

            <!-- Contact Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactez-moi</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Contact Section Form -->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post" action="home/sendMail">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Nom</label>
                                <input class="form-control" id="name" name="name" type="text" placeholder="Prénom(s) et nom" required="required" data-validation-required-message="Veuillez renseigner votre nom">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Email</label>
                                <input class="form-control" id="email" name="email" type="email" placeholder="Email" required="required" data-validation-required-message="Veuillez renseigner votre email">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Téléphone</label>
                                <input class="form-control" id="phone" name="phone" type="tel" placeholder="Numéro de téléphone" required="required" data-validation-required-message="Veuillez renseigner votre numéro">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Message</label>
                                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Veuillez renseigner votre message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block movingbackground %}

    <script src="assets/js/moving-background/three.r92.min.js"></script>
    <script src="assets/js/moving-background/vanta.net.min.js"></script>
    <script> VANTA.NET({ el: "#moving-background", color: 0x3fff8e, backgroundColor: 0x14286b,
            points: 11.00, maxDistance: 25.00, spacing: 18.00 }) </script>

{% endblock %}