{% extends 'admin/dashbord-layout.html.twig' %}
{% block title %} Ajouter un post {% endblock %}
{% block Content %}

    <h4 class="mx-auto">Ajouter un post</h4>
    <br>
    <form action="../admin/submitNewPost" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Titre du post">
                </div>
            </div>
            <div class="offset-2 col-md-4">
                <div class="form-group">
                    <select name="idCategory" class="form-control">
                        {% for category in categories %}
                        <option value="{{ category.idcategory }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <textarea name="lead" cols="54" rows="3" placeholder="Chapeau du post..."></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Planifier la publication du post</label> <br>
                    <input type="datetime-local" name="plannedDate">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <textarea name="content" cols="100" rows="20" placeholder="Contenu du post..."></textarea>
                </div>
            </div>
        </div>
        <div class="float-right">
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" id="submit">Publier</button>
            </div>
        </div>
    </form>

{% endblock %}